{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    {% for movie in watch_later_movies %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{ movie.poster }}" alt="Poster">
        </div>
        <div class="col-md-8" style="font-size: 15px">
            <div class="box">
                <a href="{% url 'lab-10:movie_detail' movie.imdbid %}" class="btn btn-info"> Detail </a>
            </div>

            <h3> <b> Plot </b> </h3>
            <p> {{ movie.plot }} </p>

            <h3> <b> Director </b> </h3>
            <p> {{ movie.director }} </p>

            <h3> <b> Production </b> </h3>
            <p> {{ movie.production }} </p>

            <h3> <b> Ratings: </b> </h3>
            {% for rating in movie.ratings %}
            <li> {{ rating.Source }}: {{ rating.Value }} </li>
            {% endfor %}

            <h3> <b> Released </b> </h3>
            <p> {{ movie.released }} </p>

        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}
