{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 700px;
        height: 50px;
        top: 50%;
        left: 25%;
        margin-left: 0px; /* margin is -0.5 * dimension */
        margin-top: 0px;
    }
</style>
<div class="center_screen">
    <b><p class="status" id="test">Hello, this is {{ name }}. {{ content }}.<p><b>
</div>
{% endblock %}